<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(Category => { %>
                <tr>
                    <td><%= Category.id %></td>
                    <td><%= Category.title %></td>
                    <td><%= Category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%= Category.id %>" class="btn btn-warning">Editar</a>

                        <form action="/categories/delete" method="POST" style="display: inline;" onsubmit="confirmarDelet(event, this)">
                            <input type="hidden" name="id" value="<%= Category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer') %>
<script>
    function confirmarDelet(event, form){
        event.preventDefault();
        var decision = confirm('Você quer deletar essa categoria ?');
        if(decision){
            form.submit();
        }
    }
</script>
