<%- include ('partials/header') %>
<%- include ('partials/homenavbar') %>
<body style="background-color: rgb(44, 44, 44);"> 
    <div class="container">
        
        <hr>
        <% articles.forEach(article => { %>
            <div class="card" style="display: flex;">
                <div class="card-header">
                    <a style="padding: 15px 20px;" href="<%= article.body %>"><%= article.title %></a>  
                </div>
                
            </div>
            <br>
        <% }) %>

    </div>
</body>
<%- include ('partials/footer') %>